/* Start variables  */
:root{
    --maincolor:#10cab7;
    --scondaryColor:#1b3059;
    --section-padding:60px;
    --section-color:rgba(242, 237, 237, 0.856);
    --trans-duration:0.3s;
}
/* End variables  */
/* start components */
html{
    scroll-behavior: smooth;
}
.special-heading{
    color: #ebeced;
    font-size: 100px;
    letter-spacing: -5px;
    text-align: center;
    margin: 0;
}
.special-heading + p{
    margin: -30px 0 0;
    text-align: center;
    color: #746f6f;
}
@media(max-width:767px){
.special-heading{
    font-size: 60px;
}
.special-heading +p{
    margin-top: -20px;
}
}
/* end components */
/* start Global styling */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* small screens */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

/* medium screens */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
    
}
/* large screens */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
    
}
/* End of global rules */
/* start header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.header .container .logo{
    width: 60px;
    height: 30px;
}
.header .container .links{
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .container .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .icon span{
background-color: #333;
margin-bottom: 5px;
height: 2px;
}
.header .icon span:first-child{
    width: 100%;
}

.header .icon span:nth-child(2){
    width: 50%;
    transition: var(--trans-duration);
}

.header  .icon span:last-child{
    width: 100%;
}

.header .container ul{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: calc(100% + 15px);
    right: 0%;
    list-style: none;
    min-width: 200px;
    background-color: rgba(234, 234, 223, 0.686);
    display: none;
}

.header .container ul::before{
    content: "";
    top: -20px;
    right: 5px;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(234, 234, 223, 0.686) transparent;
}
.header .container ul li{
    text-align: start;
    
}

.header .container ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--trans-duration);
    
}
.header .container ul li:not(:last-child) a{
    border-bottom: solid 1px #DDD;
}
.header .container ul li a:hover{
padding-left: 25px;
color: var(--maincolor);
}

/* end header */

/* start landing */
.landing{
    position: relative;
    padding: 20px;
    height: calc(100vh - 70px);
    background-image: url("../Images/Mountain.jfif");
    background-size:cover ;
    background-repeat: no-repeat;
    color: white;
    z-index: -1;
}
.landing .intro-text{
    position: absolute;
    left: 3%;
    top: 35%;
    width: 250px;
    max-width: 100%;
    transform: translate(28%,78%);
}
.landing .intro-text h1{
    margin: 0px;
}
.landing .intro-text{
    text-align: center;
}
.landing .intro-text p{
    line-height: 50px;
    font-weight: 600;
}
/* End landing */


/* start feature */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
    box-shadow: 0px 15px 20px #ccc;
}
.features .container .feat i{
    font-size:25px;
    color: var(--maincolor);
}
.features .container .feat h3{
    font-weight: 800;
    margin: 30px 0px;
    
}

.features .container .feat p{
line-height: 1.8;
color: rgba(50, 49, 49, 0.645);
font-size: 17px;
}
/* End of features */
/* Start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .service-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
    margin-left:9% ;
}

.services .service-content .srv{
    display: flex;
    margin-bottom: 40px;
}
.services .service-content .srv i{
    font-size: 35px;
    color: var(--maincolor);
    margin-right: 10px;
    flex-basis: 60px;
}
.services .service-content .srv .text{
flex: 1;
}
.services .service-content .srv .text h3{
    margin: 0 0 20px;
}
.services .service-content .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .service-content .col .image{
    position: relative;
    text-align: center;
}

.services .service-content .col .image::before{
position: absolute;
content: "";
width: 100px;
height: calc(100% + 100px);
top: -12%;
right: 0;
z-index: -1;
background-color: #1b3059;
}
@media (max-width:767px) {
    .services .service-content .srv{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}
@media (max-width:1071px) {
    .services .service-content .col .image{
        display: none;
    }
    
}
/* End services */

/* start portofilo */
.portifilo{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.portifilo .portofilo-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
    margin-left:9%
}
.portifilo .portofilo-content .card{
    background-color: white;
}
.portifilo .portofilo-content .card img{
    max-width: 100%;
}
.portifilo .portofilo-content .card .info{
    padding: 20px;
}
.portifilo .portofilo-content .card .info h3{
    margin: 0;
}
.portifilo .portofilo-content .card .info p{
    line-height: 1.6;
    margin-bottom: 0;
    color: #444;
}
/* end portofilo */
/* start about */
.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding)+60px);
}
.about-content{
    margin-top:100px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:9%
}

.about-content .image{
    position:relative;
    width: 236px;
    height: 314px;
}
.about-content .image img{
    max-width: 100%;
}
@media (max-width:924px) {
    .about-content .image {
    margin: 0 auto 60px;
    }
    }
.about-content .image::before{
    content: "";
    position: absolute;
    width: 66px;
    height: calc(100% + 50px);
    top: -8%;
    left: -15%;
    background-color: #ebeced;
    z-index: -1;
}
@media (max-width:924px) {
.about-content .image::before{
display: none;
}
}
.about-content .image::after{
    content: "";
    position: absolute;
    width: 66px;
    height: 62%;
    z-index: -1;
    left: 75%;
    top: -19px;
    border-left: 84px solid var(--maincolor);
    border-bottom: 60px solid var(--maincolor);
    background-color: white;
}
@media (max-width:924px) {
    .about-content .image::after{
    display: none;
}
}
.about-content .text { 
    
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% - 500px);

}
.about-content .text p:first-of-type{
font-weight: bold;
line-height: 1.6;
margin-bottom: 60px;
/* margin-left: -90px */
}

.about-content .text hr { 
    box-sizing: content-box;
    display: inline-block;
    height: -2px;
    width: 50%;
    overflow: visible;
    /* margin-left: -100px; */
    border-color: var(--maincolor);
}

.about-content .text p:last-of-type{
line-height: 1.6;
color:#777;
/* margin-left: -90px */
}
@media (max-width:924px) {
.about-content  {
flex-direction: column;
text-align: center;
}
}

/* end about */

/* start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: 15px;
    text-align: center;
}
.contact .info .lable{
    font-weight: 800;
    color: var(--scondaryColor);
    font-size: 30px;
    letter-spacing: -2px;
}
.contact .info .link{
    text-decoration: none;
    font-weight: 800;
    font-size: 25px; 
    color: var(--maincolor);
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 8px;
    color: var(--scondaryColor);

}
.footer{
    background-color: var(--scondaryColor);
    color: white;
    text-align:center;
    padding:20px 10px;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color:var(--maincolor);
}
/* end contact */